:root {
    --main-bg-color:#FFFFFF;
    --footer-bg-color: #2F303A;
    --hero-title-map-color:#FFFFFF;
    --adress-color:rgba(255, 255, 255, 0.6);
    --main-text-color:#757575;
    --accent-color:#2196F3;
    --title-nav-color:#212121;
    --bg-button-color:#F5F4FA;
    --box-shadow-color:0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --outline-color: #EEEEEE;
    --icon-color:#AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body { 
   font-family: Roboto, sans-serif;   
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   font-weight: 400;
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p,li {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --------------------------- */

/* header */

.page-header {
  background-color: var(--main-bg-color);
  border-bottom: 1px solid #ECECEC;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    margin-right: 92px;
    padding: 24px 0;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.24;
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-nav-color);
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
   margin-right: 30px;
}

.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-nav-color);
    font-weight: 500;
}


.current {
    position: relative;
    color: var(--accent-color);
}


.current::after {
    content: "";

    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
 
    border-radius: 4px;
    background-color: var(--accent-color);
}

.hover-link {
    position: relative;
}

.hover-link::after {
    content: "";
    
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 250ms var(--cubic);
    
    border-radius: 4px;
    background-color: var(--accent-color);
}

.hover-link:hover::after{
    transform: scaleX(1);
}

.hover-link:focus:after {
    transform: scaleX(1);
}

.auth-list {
    margin: 0;
    display: flex;
    margin-left: auto;
}



.icon-email {
    margin-right: 10px;
}

.auth-item:not(:last-child) {
    margin-right: 40px;
}

.auth-link {
    display: flex;
    align-items: center;
    padding-top: 32px; 
    padding-bottom: 32px;

    transition: color 250ms var(--cubic), fill 250ms var(--cubic);

    font-weight: 500;
    line-height: 1;
    fill: currentColor;

}


.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}


.icon-auth {
    margin-right: 10px;
}
/* hero */

.hero-section {
    background-image:
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../img/hero-baner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0 auto;
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;

    background-color: var(--footer-bg-color);
    text-align: center;
}


.hero-title {
    width: 696px;
    margin: 0 auto 30px auto;
    color: var(--hero-title-map-color);
    text-transform: uppercase;

    font-size: 44px;
    line-height: 1.36;
}

.hero-button {
    min-width: 216px;

    padding: 10px 32px;
    border: none;
    border-radius: 4px;
   
    cursor: pointer;
    color: var(--hero-title-map-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
}

.hero-button:hover,
.hero-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* features */


.features-section {
    background-color: var(--main-bg-color);
    padding: 94px 0;
}

.featur-title {
    visibility: hidden;
    line-height: 0;
}

.features-list {
    display: flex;
}
.features-item {
    width: 270px;
}



.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-item::before {
   content: "";
   display: block;
   width: 100%;
   height: 120px;
   border-radius: 4px;
   margin-bottom: 30px;
  
   background-repeat: no-repeat;
   background-position: center;
   background-color: var(--bg-button-color);
}

.features-item.antenna::before {
    background-image: url(../img/antenna.svg);
}

.features-item.clock::before {
   background-image: url(../img/clock.svg);
}

.features-item.diagram::before {
    background-image: url(../img/diagram.svg);
}

.features-item.astronaut::before {
    background-image: url(../img/astronaut.svg);
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    height: 120px;
    background-color: var(--bg-button-color);
}



.features-title {
    width: 270px;
    margin-bottom: 10px;
   
    text-transform: uppercase;
    color: var(--title-nav-color);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
}




.features-text {
    width: 270px;

    color: var(--main-text-color);
}
/* works */

.works-section {
    padding-bottom: 94px;

    background-color: var(--bg-button-color-color);
}

.works-title {
    margin-bottom: 50px;

    color: var(--title-nav-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}

.works-list {
    display: flex;
}



.works-item:not(:last-child) {
   margin-right: 30px;
}

.works-box {
    position: relative;
}

.works-text {
    position: absolute;
  
    width: 100%;
    bottom: 0;
    padding-left: 95px;
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
    color: var(--hero-title-map-color);
}

/* team */

.team-section {
    background-color: var(--bg-button-color);
    padding: 94px 0;
}


.team-title {
   margin-bottom: 50px;

   color: var(--title-nav-color);
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
}

.team-list  {
    display: flex;
    gap: 30px;
    justify-self: center;
}

.team-item { 
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--main-bg-color);
}

.team-photo {
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;
     
    color: var(--title-nav-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}


.team-position {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.2;
}

.social-list {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-color);
    transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: var(--hero-title-map-color);
}


/* clients */


.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.clients-title {
    margin-bottom: 50px;

    color:var(--title-nav-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}


.clients-list {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
   
    transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
     
    fill: var(--icon-color);
    cursor: pointer;
}

.clients-link:focus,
.clients-link:hover {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}


/* footer */



.footer {
    padding: 60px 0;

    background-color: var(--footer-bg-color);
}


.footer-box {
    display: flex;
    align-items: baseline;
}

.address-box {
    width: 231px;
    margin-right: 70px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 26px; 

    font-family: Raleway, sans-serif;
    color: var(--hero-title-map-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}

.footer-studio {
    color: var(--accent-color);
}

.address {
    font-style: normal;
}

.address-item:not(:last-child) {
    margin-bottom: 12px;
}

.address-map {
    color: var(--hero-title-map-color);
    line-height: 1.2;
}

.address-link {
    transition: color 250ms var(--cubic);
    color:var(--adress-color);
    line-height: 1.2;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.join {
    display: block;
    margin-bottom: 30px;

    text-transform: uppercase;
    color:var(--hero-title-map-color);
    font-weight: 700;
    line-height: 1.4;
}

.join-list {
    display: flex;
    margin-right: 92px;
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms var(--cubic);
   
    cursor: pointer;
    fill: var(--hero-title-map-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}


.footer-form {
   align-self: center;
   margin-left: auto;
}


.subscribe {
    display: block;
    margin-bottom: 20px;
     
    color:var(--hero-title-map-color);
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}

.input-container {
    display: flex;
}

.footer-input {
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: 12px;

    color:var(--hero-title-map-color);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer-input::placeholder {
    color:rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 200px;
    border: none;
  
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--hero-title-map-color);
}

.footer-icon {
    margin-left: 10px;
}

/* portfolio */
.portfolio-title {
    line-height: 0;
    visibility: hidden;
}

.button-section {
    background-color: var(--main-bg-color);
    padding: 50px 0 94px 0;
}



.button-list {
    display: flex;
    justify-content: center;
}

.button-item:not(:last-child) {
   margin-right: 8px;
}

.button {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);

    cursor: pointer;
    background-color: var(--bg-button-color);
    color: var(--title-nav-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.button-all {
    min-width: 64px;
}

.button-accent {
    min-width: 120px;
}

.button-medium {
    min-width: 96px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--hero-title-map-color);
    box-shadow: var(--box-shadow-color);
}

/* examples */

.examples-section {
    background-color: var(--main-bg-color);
    padding-bottom: 94px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
}

.examples-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid var(--outline-color);
    border-bottom: 1px solid var(--outline-color);

    transition: box-shadow 250ms var(--cubic);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    width: 100%;
    top:0;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
    padding: 63px 24px;

    font-size:18px;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    color:var(--hero-title-map-color);
}

.examples-link {
    cursor: pointer;
}

.examples-link:hover .overlay-text,
.examples-link:hover .overlay-text {
   transform: translateY(0);
}



.examples-item:nth-child(3n) {
    margin-right: 0px;
}

.examples-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.examples-item:hover,
.examples-item:focus {
    box-shadow: var(--box-shadow-color);
}


.examples-name {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--title-nav-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.9;
}

.examples-text {
    padding-left: 24px;
    padding-bottom: 20px;

    font-size: 16px;
    line-height: 1.9;
}


/* modal */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   opacity: 1;

   transition: opacity 250ms var(--cubic);
   background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
} 

.backdrop.is-hidden .modal {
    transform:translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    transition: transform 250ms var(--cubic);
    padding: 40px;

    min-width: 528px;
    height: 582px;
    background-color: var(--main-bg-color);
}




.modal-button {
    position: absolute;
    right: 8px;
    top: 8px;
    transition: fill 250ms var(--cubic);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 1px solid var(--main-text-color);

    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
}

.modal-button:hover,
.modal-button:focus {
    fill: var(--accent-color);
}

.modal-text {
    margin-bottom: 12px;

    text-align: center;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--title-nav-color);
}


.input-container:not(:last-child) {
    margin-bottom: 10px;
}

.text-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.1;
    color:var(--main-text-color);
}

.input-box {
    position: relative;
    margin-bottom: 10px;
}


.input {
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    transition: border-color 250ms var(--cubic);
    border: 1px solid var(--title-nav-color);
    outline: none; 

    border-color: var(--title-nav-color);
    border-radius: 4px;
    cursor: pointer;
}

.input:focus, 
.input:hover {
    border-color: var(--accent-color);
}
.input:hover + .input-icon,
.input:focus + .input-icon {
    fill: var(--accent-color);
}


.input-icon {
    transition: fill 250ms var(--cubic);
    position: absolute;
    left:  12px;
    top: 12px;  
}


.textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--title-nav-color);
    margin-bottom: 20px;

    transition: border-color 250ms var(--cubic);
    outline: none;

    border-radius: 4px;
    resize: none;
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.2;
}

.textarea:focus,
.textarea:hover {
    border-color: var(--accent-color);
}



.label-checkobx {
    display: block;
    position: relative;
    margin-left: 36px;
    margin-bottom: 30px;

    cursor: pointer;

    line-height: 1;
}

.input-checkobx {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.icon-checkbox {
    position: absolute;
    align-self: flex-start;
    transition: background-color 250ms var(--cubic),
            border-color 250ms var(--cubic);
    
    top: 6px;
    left: -24px;
  
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-nav-color);
    border-radius: 2px;
}

.input-checkobx:checked ~ .icon-checkbox {
    background-image: url(../img/icon-check.svg);
    background-position: center;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
}

.contract {
    position: relative;
    color:var(--accent-color);
    line-height: 2;
}

.contract::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    border: 1px solid var(--accent-color);
}

.btn-submit {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    height: 50px;
    border: none;

    font-weight: 700px;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

